service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/images/{image} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
