.root {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 1em 0.5em;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.document {
  margin: 0.5em;
}
