.root {
  position: relative;
  color: var(--grey);
  font-size: 1.5rem;
  line-height: 0;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
