.root {
  cursor: text;
  overflow-x: auto;
}

.root > :first-child {
  margin-top: 0em;
}

.root > :last-child {
  margin-bottom: 0em;
}

.root * {
  word-wrap: break-word;
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  font-size: 1em;
}

.root h1::before {
  content: "# ";
}

.root h2::before {
  content: "## ";
}

.root h3::before {
  content: "### ";
}

.root h4::before {
  content: "#### ";
}

.root h5::before {
  content: "##### ";
}

.root h6::before {
  content: "###### ";
}

.root a {
  color: var(--red);
}

.root a:visited {
  color: var(--red);
}

.root blockquote {
  color: var(--darkGrey);
}

.root img {
  cursor: pointer;
  max-width: 100%;
}

.root pre {
  overflow-x: auto;
}

.root pre,
.root *:not(pre) > code {
  background: var(--darkGrey);
  border-radius: 0.2rem;
  color: var(--white);
  font-size: 0.95em;
  padding: 0.4em;
}

.root *:not(pre) > code {
  line-height: 2.5em;
}

.root table {
  border-collapse: collapse;
}

.root table,
.root td,
.root th {
  border: 1px solid var(--grey);
}

.root td,
.root th {
  padding: 0.4em 0.6em;
}
