.root {
  border: none;
  outline: none;
  color: inherit;
  font-family: monospace;
  font-size: 0.95em;
  resize: none;
  field-sizing: content;
  padding: 0;
  flex: 1;

  &::placeholder {
    color: var(--grey);
  }
}
