.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 85ex;
  max-width: 100%;
  margin: auto;

  > :first-child {
    flex: 1;
  }
}

.createDocument {
  position: relative;
  z-index: 1;
}

.createDocumentContainer {
  position: relative;
}

.createDocumentBackground {
  background: var(--darkYellow);
  position: absolute;
  top: 0;
  left: -100vw;
  width: 200vw;
  height: 100%;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.signOutContainer {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}
